/*
 * Fakt Pro — PROPRIETARY typeface (OurType). Self-hosted woff2 captured from
 * www.cority.com; verify Cority's web-font license covers this property
 * before production launch. See LICENSING.md.
 */

@font-face {
  font-family: 'Fakt Pro';
  src: url('/styles/fonts/FaktPro-Blond.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Fakt Pro';
  src: url('/styles/fonts/FaktPro-Normal.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Fakt Pro';
  src: url('/styles/fonts/FaktPro-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}
